webscraper/__pycache__/football_cfg.cpython-311.pyc
webscraper/__pycache__/sql_cfg.cpython-311.pyc
webscraper/__pycache__/stadiums_data.cpython-311.pyc
webscraper/__pycache__/teams_data.cpython-311.pyc
webscraper/__pycache__/webaddress.cpython-311.pyc
